In [4]:
%load_ext watermark
%watermark -v -n -m -p numpy,sklearn,pandas

Tue Jan 29 2019

CPython 3.6.5
IPython 5.3.0

numpy 1.16.0
sklearn 0.19.1
pandas 0.24.0

compiler   : GCC 4.8.2 20140120 (Red Hat 4.8.2-15)
system     : Linux
release    : 4.15.0-43-generic
machine    : x86_64
processor  : x86_64
CPU cores  : 8
interpreter: 64bit

In [5]:
import os
import pandas as pd

In [6]:
PROJ_ROOT = os.path.abspath(os.path.join(os.pardir))
print(PROJ_ROOT)
%cd ..

/media/DATA/elo_merchant
/media/DATA/elo_merchant

In [7]:
train = pd.read_csv('./data/raw/train.csv')
train.shape

(201917, 6)

In [8]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [9]:
test = pd.read_csv('./data/raw/test.csv')
test.shape

(123623, 5)

In [7]:
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

In [11]:
merchants = pd.read_csv('./data/raw/merchants.csv')
merchants.shape

(334696, 22)

In [9]:
merchants.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [10]:
def print_value_counts(df):
    for column in df.columns:
        print(df[column].value_counts())

In [11]:
print_value_counts(merchants)

M_ID_42697d5d44    4
M_ID_ebbdb42da6    4
M_ID_30340088f2    4
M_ID_c2b9ac2ea4    4
M_ID_992a180b15    4
M_ID_d123532c72    4
M_ID_6464db3b45    4
M_ID_bd49e37dda    4
M_ID_dbbf07ebf0    4
M_ID_ef233cff26    4
M_ID_1802942aaf    4
M_ID_6c144405a0    2
M_ID_28c2aace87    2
M_ID_654509ddbc    2
M_ID_508ecbdcde    2
M_ID_c0b712e11a    2
M_ID_1ceca881f0    2
M_ID_49b779bc8a    2
M_ID_a8767b29ef    2
M_ID_0a00fa9e8a    2
M_ID_a55beb9d9a    2
M_ID_ae9fe1605a    2
M_ID_0c4018d3a0    2
M_ID_645a6af169    2
M_ID_57e97f6546    2
M_ID_7251df88ad    2
M_ID_26d4fadb60    2
M_ID_7483dde87d    2
M_ID_d2b5d4418d    2
M_ID_b794b9d9e8    2
                  ..
M_ID_f9c4feb7dd    1
M_ID_1a56d3a71f    1
M_ID_bde591d544    1
M_ID_7daeb49e2e    1
M_ID_c24ce748e3    1
M_ID_3e3f8d62a5    1
M_ID_0dc87b2369    1
M_ID_53bb0a0f6e    1
M_ID_d79b9078f0    1
M_ID_9bee1ae2e0    1
M_ID_a41a47a13a    1
M_ID_ce5966536d    1
M_ID_a029245749    1
M_ID_ecd672fe75    1
M_ID_743688edf1    1
M_ID_a761573367    1
M_ID_9a0dfbe7dc    1
M_ID_1416cd2510    1
M_ID_101bffc2bb    1
M_ID_e9ac350856    1
M_ID_c47b560e5e    1
M_ID_9531a2fecc    1
M_ID_2b235bf61f    1
M_ID_c8654fd99a    1
M_ID_82364c026c    1
M_ID_9f05a78127    1
M_ID_6617fdbfc3    1
M_ID_2a5587aec8    1
M_ID_bca10acf3e    1
M_ID_525224debf    1
Name: merchant_id, Length: 334633, dtype: int64
35        46026
434         482
419         365
713         333
3648        305
48          283
1145        276
771         257
325         248
321         235
898         215
661         214
1476        213
123         210
3290        204
782         202
3014        196
863         192
5275        192
1660        182
1348        177
824         175
217         169
697         169
3082        164
2914        161
1014        158
176         145
453         145
983         144
          ...
112056        1
107962        1
110011        1
105917        1
99774         1
101823        1
30336         1
26242         1
28291         1
22148         1
24197         1
83366         1
89509         1
87460         1
56725         1
9610          1
58599         1
62864         1
64913         1
58770         1
54676         1
48537         1
93603         1
38300         1
40349         1
36255         1
95648         1
97697         1
91554         1
26487         1
Name: merchant_group_id, Length: 109391, dtype: int64
 705    30666
 278    17992
 307    17528
 367    15387
 68     14341
 80     13520
 222    11582
 884    10398
 683     9175
 560     7988
 422     7247
 45      7091
 506     4389
 818     4203
 434     4075
 108     3835
 557     3571
 518     3468
 437     3441
 842     3381
 34      3356
 63      2781
 792     2729
 690     2695
 544     2663
 703     2499
 309     2482
 40      2413
 419     2360
 195     2358
        ...
 145        3
 18         2
 67         2
 381        2
 11         2
 226        2
 523        2
 881        2
 579        1
 583        1
 741        1
 86         1
 601        1
 59         1
 566        1
 878        1
 875        1
 164        1
 725        1
 266        1
-1          1
 780        1
 464        1
 718        1
 634        1
 805        1
 153        1
 281        1
 789        1
 322        1
Name: merchant_category_id, Length: 324, dtype: int64
 27    51678
 37    35575
 33    30887
 34    26533
 21    24207
 29    21588
 19    20361
 16    16435
 18    14279
 20     9528
 7      7706
 2      7432
 32     6691
 1      6111
 9      5777
 38     5729
 10     5399
 36     4882
 25     4534
 12     4506
 30     4389
 15     3441
 41     3072
 31     2409
 4      2005
 8      1367
 22     1050
 23     1029
 13      941
 39      828
 5       796
 35      667
 40      656
 26      581
 14      523
 17      497
 3       342
 24      242
 11       21
 28        1
-1         1
Name: subsector_id, dtype: int64
-0.057471     228788
-0.047556      41528
-0.037641      15689
-0.027726       8297
-0.017811       5249
-0.007896       3739
 0.002019       2874
 0.011934       2249
 0.021849       1869
 0.031763       1642
 0.041678       1363
 0.051593       1220
 0.061508       1079
 0.071423        927
 0.081338        866
 0.091253        770
 0.101168        719
 0.111083        619
 0.120998        562
 0.130913        507
 0.140827        467
 0.150742        444
 0.160657        392
 0.170572        385
 0.180487        316
 0.190402        316
 0.220147        299
 0.210232        293
 0.200317        286
 0.249891        263
               ...
 10.690286         1
 11.414074         1
 16.460760         1
 6.069940          1
 20.040040         1
 64.528216         1
 19.355912         1
 10.581222         1
 19.762423         1
 6.060025          1
 19.306338         1
 41.476064         1
 4.533130          1
 3.541640          1
 7.021771          1
 8.865943          1
 12.375819         1
 9.351774          1
 11.691691         1
 5.584110          1
 7.259729          1
 26.613622         1
 4.315002          1
 15.855951         1
 8.052921          1
 9.153475          1
 4.374492          1
 8.836199          1
 53.641651         1
 9.589731          1
Name: numerical_1, Length: 954, dtype: int64
-0.057471      248714
-0.047556       33280
-0.037641       11644
-0.027726        6130
-0.017811        3953
-0.007896        2844
 0.002019        2271
 0.011934        1844
 0.021849        1567
 0.031763        1376
 0.041678        1166
 0.051593        1038
 0.061508         929
 0.071423         843
 0.081338         777
 0.091253         714
 0.101168         625
 0.111083         530
 0.120998         515
 0.130913         462
 0.140827         431
 0.150742         406
 0.160657         362
 0.170572         335
 0.190402         299
 0.220147         289
 0.180487         288
 0.210232         275
 0.200317         265
 0.239976         248
                ...
 27.307665          1
 11.414074          1
 16.460760          1
 70.189627          1
 4.989216           1
 13.377225          1
 53.383864          1
 7.824878           1
 4.771088           1
 4.364577           1
 24.729790          1
 48.743689          1
 19.048550          1
 67.443198          1
 63.506981          1
 12.623692          1
 119.278318         1
 104.901707         1
 6.506196           1
 25.939409          1
 9.738455           1
 5.068535           1
 8.955177           1
 15.052844          1
 11.106712          1
 6.625175           1
 4.096874           1
 10.551477          1
 12.217181          1
 49.804583          1
Name: numerical_2, Length: 947, dtype: int64
N    327657
Y      7039
Name: category_1, dtype: int64
E    177104
D    117475
C     34075
B      5037
A      1005
Name: most_recent_sales_range, dtype: int64
E    175309
D    119187
C     34144
B      5046
A      1010
Name: most_recent_purchases_range, dtype: int64
1.00      8411
0.98      7953
0.99      7891
0.97      7663
0.96      7572
1.01      7544
1.02      7397
0.95      7179
1.03      7154
0.94      7054
0.93      6704
1.04      6671
0.92      6387
0.91      6308
1.05      6306
0.90      5924
1.06      5874
0.89      5694
1.07      5394
0.88      5385
1.08      5188
0.87      4955
0.86      4780
1.09      4724
0.85      4538
1.10      4495
0.84      4248
1.11      4222
0.83      3981
1.12      3958
          ...
27.04        1
48.51        1
24.37        1
21.72        1
17.28        1
29.57        1
21.11        1
22.41        1
36.00        1
19.13        1
16.55        1
52.50        1
15.47        1
31.35        1
302.11       1
121.33       1
66.05        1
37.67        1
415.06       1
24.01        1
164.99       1
11.40        1
175.00       1
59.25        1
63.81        1
59.11        1
33.05        1
42.47        1
42.53        1
90.33        1
Name: avg_sales_lag3, Length: 3372, dtype: int64
1.000000    6644
1.333333    3007
0.833333    2208
0.666667    2020
1.166667    1949
1.666667    1846
0.888889    1446
1.111111    1393
2.000000    1197
0.916667    1119
0.777778    1084
1.083333    1048
1.222222    1002
1.500000     966
0.933333     946
1.066667     849
2.333333     798
0.866667     789
0.944444     719
1.133333     719
1.055556     702
0.750000     696
2.666667     648
0.952381     644
1.250000     611
0.800000     583
1.047619     572
1.444444     562
0.958333     553
1.200000     552
            ...
1.207615       1
1.104399       1
1.080411       1
0.878029       1
1.254593       1
1.009627       1
0.927747       1
1.077379       1
1.046807       1
1.086137       1
0.974548       1
1.749648       1
1.012843       1
1.876190       1
0.876503       1
0.954889       1
1.022474       1
0.497653       1
0.990097       1
1.108140       1
0.980786       1
1.262195       1
1.122750       1
0.697272       1
0.999450       1
0.994424       1
0.984156       1
3.693694       1
0.998722       1
0.983576       1
Name: avg_purchases_lag3, Length: 100003, dtype: int64
3    333262
2       896
1       538
Name: active_months_lag3, dtype: int64
1.00       6310
0.98       5898
0.95       5846
0.97       5803
0.96       5801
0.99       5754
1.01       5747
0.94       5673
0.93       5672
0.92       5418
1.02       5388
0.91       5279
1.03       5278
1.04       5144
0.90       5086
1.05       4999
0.89       4826
0.88       4824
1.06       4758
0.87       4683
1.07       4582
0.86       4496
1.08       4379
0.85       4309
1.09       4097
0.84       4025
1.10       3972
0.83       3858
1.11       3816
0.82       3745
           ...
295.90        1
195.62        1
83.61         1
56.23         1
15.16         1
2893.26       1
47.92         1
25.00         1
84.36         1
58.72         1
56.85         1
56.90         1
97.62         1
79.46         1
51.97         1
18.73         1
34.89         1
42.07         1
71.74         1
120.16        1
156.30        1
52.87         1
41.52         1
26.68         1
312.10        1
194.49        1
255.29        1
21.85         1
14.15         1
67.34         1
Name: avg_sales_lag6, Length: 4507, dtype: int64
1.000000      2810
1.166667      1683
0.833333      1588
1.333333      1325
1.500000      1049
0.916667       992
1.083333       966
0.666667       944
1.666667       884
1.250000       733
0.750000       701
0.944444       652
2.000000       650
1.833333       635
1.055556       603
0.888889       569
1.111111       554
1.416667       535
0.958333       503
1.041667       493
0.875000       486
2.166667       470
0.777778       468
1.222222       458
2.333333       454
0.933333       414
1.125000       411
1.277778       398
1.033333       396
1.583333       380
              ...
0.980299         1
0.943703         1
1.419132         1
0.596561         1
1.029817         1
133.666667       1
1.009476         1
3.702381         1
0.861044         1
1.062024         1
1.070640         1
0.937420         1
0.865056         1
0.976648         1
1.131510         1
1.033740         1
0.940353         1
1.020460         1
1.034259         1
1.190034         1
1.514793         1
0.932916         1
0.874239         1
1.193970         1
1.016500         1
1.106312         1
0.604545         1
0.901477         1
1.016085         1
2.370968         1
Name: avg_purchases_lag6, Length: 135202, dtype: int64

6    327284
5      2276
4      2050
3      1652
2       896
1       538
Name: active_months_lag6, dtype: int64
1.00       5565
0.99       5160
0.97       5145
0.98       5088
0.96       5025
0.94       4953
0.93       4916
0.95       4908
1.02       4876
1.01       4859
1.03       4824
0.91       4770
0.92       4717
0.90       4697
0.89       4618
1.05       4589
1.04       4587
1.06       4458
0.88       4394
0.87       4236
1.07       4179
0.86       4122
1.08       4045
0.85       3941
1.09       3933
1.10       3928
0.84       3883
0.83       3763
1.11       3734
1.12       3577
           ...
42.47         1
23.62         1
59.11         1
23.30         1
89.86         1
43.75         1
132.35        1
3582.16       1
236.94        1
121.67        1
809.17        1
76.27         1
25.86         1
21.05         1
30.56         1
60.86         1
39.50         1
543.34        1
23.99         1
64.18         1
25.31         1
152.79        1
606.28        1
57.40         1
232.02        1
90.26         1
2257.94       1
66.95         1
76.23         1
33.49         1
Name: avg_sales_lag12, Length: 5009, dtype: int64
1.000000    1786
0.916667     803
1.083333     740
1.166667     739
0.833333     716
1.250000     626
0.750000     603
1.333333     566
1.500000     518
0.666667     443
1.416667     433
1.125000     414
0.875000     406
0.958333     405
1.041667     392
1.666667     364
1.750000     357
2.000000     338
1.583333     323
1.208333     323
0.791667     300
1.833333     281
0.944444     280
0.888889     273
1.291667     266
0.972222     260
1.916667     260
1.027778     257
1.375000     253
1.111111     253
            ...
1.058057       1
1.110048       1
0.642792       1
0.836686       1
0.890217       1
1.081535       1
1.173841       1
1.187166       1
1.080627       1
0.852299       1
1.149318       1
1.540984       1
1.140364       1
1.002004       1
1.136412       1
1.125769       1
0.723519       1
1.939320       1
1.169884       1
1.042651       1
2.135461       1
0.886203       1
0.780720       1
0.985754       1
0.918847       1
0.806108       1
0.941404       1
1.491471       1
0.815617       1
1.031287       1
Name: avg_purchases_lag12, Length: 172917, dtype: int64
12    305101
11      4449
10      4143
9       3824
8       3756
7       3274
6       2737
5       2276
4       2050
3       1652
2        896
1        538
Name: active_months_lag12, dtype: int64
N    238596
Y     96100
Name: category_4, dtype: int64
-1      105184
 69      21658
 158      7957
 17       6518
 143      5368
 88       5230
 137      4785
 212      4324
 87       3717
 25       2983
 160      2652
 4        2592
 233      2592
 277      2231
 213      2186
 76       1965
 53       1897
 51       1887
 283      1743
 291      1698
 140      1673
 246      1661
 161      1639
 289      1637
 169      1621
 60       1510
 12       1506
 251      1506
 21       1502
 116      1484
         ...
 221       268
 112       264
 151       263
 86        261
 326       260
 113       249
 235       246
 139       245
 77        242
 118       239
 32        236
 204       231
 133       228
 327       228
 224       224
 18        223
 254       222
 237       217
 26        213
 306       203
 205       202
 89        199
 178       195
 130       179
 330       140
 215       138
 263       120
 92         55
 286        11
 320        11
Name: city_id, Length: 271, dtype: int64
 9     92708
 16    33226
 15    27224
 5     23547
 19    18793
 20    15660
 4     14216
 21    13716
-1     11887
 13     9487
 7      9375
 24     8045
 12     7730
 11     7318
 22     6553
 14     6194
 2      5061
 23     4357
 18     3815
 3      3629
 10     3184
 1      2908
 8      2842
 17     1961
 6      1260
Name: state_id, dtype: int64
1.0    160888
5.0     52923
3.0     51887
4.0     36450
2.0     20661
Name: category_2, dtype: int64

In [12]:
merchants.isna().sum()

merchant_id                        0
merchant_group_id                  0
merchant_category_id               0
subsector_id                       0
numerical_1                        0
numerical_2                        0
category_1                         0
most_recent_sales_range            0
most_recent_purchases_range        0
avg_sales_lag3                    13
avg_purchases_lag3                 0
active_months_lag3                 0
avg_sales_lag6                    13
avg_purchases_lag6                 0
active_months_lag6                 0
avg_sales_lag12                   13
avg_purchases_lag12                0
active_months_lag12                0
category_4                         0
city_id                            0
state_id                           0
category_2                     11887
dtype: int64

In [13]:
new_merchant_transactions = pd.read_csv('./data/raw/new_merchant_transactions.csv')
new_merchant_transactions.shape

(1963031, 14)

In [14]:
new_merchant_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_415bb3a509,107,N,1,B,307,M_ID_b0c793002c,1,-0.557574,2018-03-11 14:57:36,1.0,9,19
1,Y,C_ID_415bb3a509,140,N,1,B,307,M_ID_88920c89e8,1,-0.569580,2018-03-19 18:53:37,1.0,9,19
2,Y,C_ID_415bb3a509,330,N,1,B,507,M_ID_ad5237ef6b,2,-0.551037,2018-04-26 14:08:44,1.0,9,14
3,Y,C_ID_415bb3a509,-1,Y,1,B,661,M_ID_9e84cda3b1,1,-0.671925,2018-03-07 09:43:21,NaN,-1,8
4,Y,C_ID_ef55cf8d4b,-1,Y,1,B,166,M_ID_3c86fa3831,1,-0.659904,2018-03-22 21:07:53,NaN,-1,29

In [15]:
print_value_counts(new_merchant_transactions)

Y    1963031
Name: authorized_flag, dtype: int64
C_ID_b7ebee6539    109
C_ID_c729288535    106
C_ID_8946508722    104
C_ID_0e4f6af077    104
C_ID_6cef1dba4b    100
C_ID_4e8e856f1a     99
C_ID_8e0c15d39b     95
C_ID_4a0143e1a7     92
C_ID_a9b2895f68     90
C_ID_5da6f7704e     88
C_ID_35b76f6fbe     87
C_ID_d694ba3656     87
C_ID_373694d1e5     86
C_ID_349e4e9230     85
C_ID_5ed8d518bb     84
C_ID_463a87ae3c     82
C_ID_b4c0e5d5ce     82
C_ID_f250bd6aa0     82
C_ID_4f21bba899     82
C_ID_238c55d25e     80
C_ID_8a0fd1ed32     80
C_ID_a2ab74da8d     79
C_ID_5f9dc1333c     79
C_ID_3f3fde1e4d     78
C_ID_a890d98a64     78
C_ID_2fed5089f7     78
C_ID_154e48f40a     77
C_ID_ee54bf0f8d     76
C_ID_6a475da44d     74
C_ID_1e16af1aa1     73
                  ...
C_ID_579b9de85b      1
C_ID_a1793953a2      1
C_ID_00df5d97d3      1
C_ID_2fa52141dc      1
C_ID_bb2311b84e      1
C_ID_2ce3824da5      1
C_ID_5746247719      1
C_ID_bece6b5199      1
C_ID_f0af92d3a2      1
C_ID_8250f58999      1
C_ID_db0c030e6a      1
C_ID_7ed6e8fc01      1
C_ID_fb7413a1b7      1
C_ID_69a2291236      1
C_ID_4ac1b5ca65      1
C_ID_bb739be975      1
C_ID_36f7b399ac      1
C_ID_80a9dddd3e      1
C_ID_ac23d6b2eb      1
C_ID_42a49835c4      1
C_ID_be1b89f22d      1
C_ID_a30139d459      1
C_ID_6fe8e06ab1      1
C_ID_2fb41fe18b      1
C_ID_555329d289      1
C_ID_054ebe9f85      1
C_ID_48626fa97c      1
C_ID_7a39fa3c56      1
C_ID_425006f55c      1
C_ID_2609d599bc      1
Name: card_id, Length: 290001, dtype: int64
 69     328916
-1       99349
 158     84962
 19      70961
 17      65300
 143     53997
 88      46301
 137     45007
 331     41429
 87      33967
 212     32143
 333     31354
 25      28315
 233     26682
 57      23514
 160     23132
 149     22288
 291     22112
 213     21042
 117     20500
 140     17831
 4       16672
 277     16624
 286     16030
 107     15629
 76      14424
 53      14319
 161     13679
 231     13140
 20      13117
         ...
 336       548
 237       540
 18        530
 235       520
 26        517
 71        512
 293       510
 84        501
 254       465
 112       460
 221       451
 130       444
 32        439
 222       425
 205       375
 227       357
 122       297
 204       291
 89        276
 315       262
 306       262
 178       245
 263       242
 207       152
 215       145
 319        57
 92         25
 273        23
 316        15
 185         5
Name: city_id, Length: 308, dtype: int64
N    1899935
Y      63096
Name: category_1, dtype: int64
 0      922244
 1      836178
-1       55922
 2       54729
 3       44750
 4       14815
 6       10389
 5        9296
 10       8899
 12       2850
 8        1555
 7         863
 9         478
 11         61
 999         2
Name: installments, dtype: int64
A    922244
B    836178
C    148687
Name: category_3, dtype: int64
307    191631
705    168852
278    168140
80     144667
367    116406
683     58176
560     57327
884     48437
690     42785
879     36710
68      35636
422     31928
506     31443
437     29772
222     28056
195     27291
842     24040
45      23814
561     21970
454     21487
108     21254
606     20144
818     20003
511     18236
309     18183
87      16815
419     15470
360     15320
703     14335
518     13812
        ...
183         4
131         3
542         3
141         3
725         3
27          3
718         3
628         3
662         3
145         3
714         3
153         3
355         2
580         2
523         2
18          2
31          2
249         1
464         1
789         1
268         1
817         1
579         1
220         1
162         1
49          1
281         1
11          1
192         1
109         1
Name: merchant_category_id, Length: 314, dtype: int64
M_ID_00a6ca8a8a    23018
M_ID_cd2c0b07e9    19118
M_ID_9139332ccc    14220
M_ID_50f575c681    13778
M_ID_725a60d404     7029
M_ID_a9d91682ad     5980
M_ID_fc7d7969c3     3817
M_ID_5ba019a379     3540
M_ID_98b342c0e3     3445
M_ID_0855bda176     3290
M_ID_d855771cd9     3221
M_ID_3111c6df35     3160
M_ID_f86439cec0     3122
M_ID_a216ec6d06     3106
M_ID_f2045dd267     3044
M_ID_2637773dd2     2903
M_ID_59764e8cb1     2752
M_ID_e5374dabc0     2691
M_ID_b9f9332438     2564
M_ID_1f4773aa76     2333
M_ID_7c5e93af2f     2291
M_ID_c03b62d83d     2291
M_ID_b98db225f5     1969
M_ID_820c7b73c8     1938
M_ID_82a30d9203     1912
M_ID_3f3084da59     1843
M_ID_940fb4498f     1840
M_ID_b5b80addf5     1808
M_ID_86be58d7e0     1789
M_ID_6f274b9340     1718
                   ...
M_ID_662e9ad2ee        1
M_ID_4ed4b5feaa        1
M_ID_564aa3c665        1
M_ID_93cb892d85        1
M_ID_1e09657269        1
M_ID_0b0674f8fd        1
M_ID_269e4abefe        1
M_ID_6a6ab7f5c5        1
M_ID_5f215eec6f        1
M_ID_52451d0f80        1
M_ID_37a0e2ff31        1
M_ID_759a0f0ea9        1
M_ID_55a5990968        1
M_ID_79253a3ad6        1
M_ID_0e6628bf3b        1
M_ID_42f0b41460        1
M_ID_7b1b6d90a8        1
M_ID_a3a47999a6        1
M_ID_d495fbe72b        1
M_ID_ff8d72c022        1
M_ID_99e30efe1d        1
M_ID_c481ce7308        1
M_ID_3e46272b2c        1
M_ID_3d42d2e59b        1
M_ID_1e1b9c64bd        1
M_ID_e35b0ddb4d        1
M_ID_28ae4be2ae        1
M_ID_8d1e75b20c        1
M_ID_b6689bbaa0        1
M_ID_5f4a4c8d35        1
Name: merchant_id, Length: 226129, dtype: int64
1    1027617
2     935414
Name: month_lag, dtype: int64
-0.671775     48336
-0.716855     40550
-0.701828     36755
-0.596643     29707
-0.731881     26914
-0.724368     22458
-0.686802     20260
-0.709342     16799
-0.656749     15736
-0.728876     14280
-0.641722     12294
-0.694315     11786
-0.734887     11180
-0.739395     11061
-0.626696     10535
-0.737892      9945
-0.740897      9485
-0.719860      9109
-0.521510      8957
-0.736389      8834
-0.725871      8815
-0.722865      8490
-0.727373      8306
-0.679288      8254
-0.733384      8100
-0.710844      8007
-0.713849      7390
-0.446378      6928
-0.566590      6914
-0.730379      6844
              ...
 1.699589         1
-0.180874         1
 0.350749         1
 0.265428         1
 7.073039         1
 4.328898         1
 2.437961         1
-0.038934         1
 1.957729         1
-0.136140         1
 0.144645         1
 3.133388         1
 16.127865        1
 1.840041         1
 0.942057         1
-0.358112         1
 3.641134         1
-0.219582         1
 11.632233        1
 1.500653         1
 2.397841         1
 1.471667         1
 0.037461         1
 3.667881         1
 1.734390         1
 2.301971         1
 0.995341         1
 2.927841         1
 0.837548         1
-0.171212         1
Name: purchase_amount, Length: 75190, dtype: int64
2017-11-18 00:00:00    582
2017-11-24 00:00:00    543
2017-11-25 00:00:00    539
2017-11-03 00:00:00    507
2017-11-14 00:00:00    478
2017-11-30 00:00:00    476
2017-11-04 00:00:00    448
2017-11-17 00:00:00    444
2017-11-23 00:00:00    433
2017-11-08 00:00:00    408
2017-11-22 00:00:00    384
2017-11-09 00:00:00    379
2017-11-28 00:00:00    378
2017-10-28 00:00:00    375
2017-11-16 00:00:00    374
2017-11-29 00:00:00    373
2017-11-07 00:00:00    370
2017-11-21 00:00:00    365
2017-11-27 00:00:00    358
2017-11-20 00:00:00    355
2017-11-13 00:00:00    355
2017-11-01 00:00:00    353
2017-11-26 00:00:00    349
2017-11-15 00:00:00    346
2017-11-02 00:00:00    346
2017-11-19 00:00:00    343
2017-11-11 00:00:00    334
2017-10-27 00:00:00    330
2017-10-21 00:00:00    321
2017-11-12 00:00:00    313
                      ...
2018-04-10 11:10:38      1
2018-04-16 13:05:43      1
2018-01-31 18:23:51      1
2018-02-09 10:48:50      1
2018-03-09 07:41:27      1
2018-04-26 13:38:23      1
2018-04-11 14:17:58      1
2018-04-21 13:00:23      1
2018-04-10 12:45:42      1
2018-01-15 20:30:31      1
2018-04-02 09:15:50      1
2018-02-09 15:13:50      1
2018-03-24 15:59:08      1
2018-03-14 12:29:28      1
2017-06-14 15:20:57      1
2018-03-04 09:34:05      1
2018-04-14 23:22:11      1
2018-04-07 14:44:57      1
2018-03-29 19:33:27      1
2017-12-13 11:30:58      1
2018-04-07 00:40:19      1
2017-11-17 18:39:55      1
2018-04-02 08:44:53      1
2018-03-07 05:46:20      1
2018-03-21 14:43:27      1
2018-01-05 10:32:19      1
2017-12-01 21:50:14      1
2018-03-07 11:11:34      1
2018-02-17 10:53:09      1
2017-12-21 07:37:06      1
Name: purchase_date, Length: 1667025, dtype: int64
1.0    1058242
3.0     289525
5.0     259266
4.0     178590
2.0      65663
Name: category_2, dtype: int64
 9     733146
 15    158304
 16    139765
 5     120158
-1     111745
 19     87980
 20     78953
 22     65300
 4      63532
 21     60155
 7      49342
 11     46905
 13     39432
 3      38908
 2      27814
 12     27027
 18     22139
 1      17908
 10     17273
 23     13069
 24     12825
 8      12218
 14     10326
 17      8450
 6        357
Name: state_id, dtype: int64
 37    340053
 19    200528
 27    194977
 34    183700
 33    172585
 29    138039
 16    119297
 21     74176
 1      66913
 7      54145
 18     42079
 20     38433
 36     36621
 30     31443
 15     29772
 25     23805
 17     23233
 39     21487
 12     21351
 32     16673
 22     16460
 2      15851
 31     15000
 8      14979
 38     13057
 41     12848
 10      9849
 9       7590
 3       6237
 35      5233
 4       4302
 13      2419
 26      2221
 24      1907
 14      1488
 23      1423
 5       1316
 40       953
 11       560
-1         20
 28         8
Name: subsector_id, dtype: int64

In [16]:
new_merchant_transactions.isna().sum()

authorized_flag              0
card_id                      0
city_id                      0
category_1                   0
installments                 0
category_3               55922
merchant_category_id         0
merchant_id              26216
month_lag                    0
purchase_amount              0
purchase_date                0
category_2              111745
state_id                     0
subsector_id                 0
dtype: int64

In [17]:
historical_transactions = pd.read_csv('./data/raw/historical_transactions.csv')
historical_transactions.shape

(29112361, 14)

In [18]:
historical_transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [19]:
print_value_counts(historical_transactions)

Y    26595452
N     2516909
Name: authorized_flag, dtype: int64
C_ID_3d3dfdc692    5582
C_ID_0cd2ce025c    2912
C_ID_cc3d4cd4e3    2143
C_ID_5ccc07beb9    2066
C_ID_5ea401d358    1786
C_ID_9f81506906    1665
C_ID_6ae9f40da5    1665
C_ID_272aa0597a    1647
C_ID_9f63809b99    1634
C_ID_80c1c711c9    1593
C_ID_2524b5234d    1550
C_ID_f352d1be7e    1546
C_ID_0b84a29e2e    1517
C_ID_f085d75a85    1491
C_ID_66197df71f    1478
C_ID_7dca81e0f1    1462
C_ID_eda5dc78fe    1457
C_ID_f028f3b41c    1450
C_ID_89d1b0c84e    1441
C_ID_62698b6025    1432
C_ID_fef34cc0a0    1428
C_ID_003e56029c    1414
C_ID_4d3a26f711    1401
C_ID_47fc988e9b    1390
C_ID_94cf87a008    1389
C_ID_d15ffb9f61    1370
C_ID_d89f18e507    1350
C_ID_60368fbef5    1347
C_ID_3b16fb38f1    1344
C_ID_1678a64139    1323
                   ...
C_ID_6762df0a84       2
C_ID_30d4ea0992       2
C_ID_6e5a557872       2
C_ID_1f8a2b8d3e       2
C_ID_4e471f3e2f       2
C_ID_f62fa8d3c2       2
C_ID_00580da038       2
C_ID_3322e0efbb       2
C_ID_a6828ad494       2
C_ID_0d7ae9ddc9       2
C_ID_df66203899       2
C_ID_2a8874827b       2
C_ID_edc21e1571       2
C_ID_56c9ee92c0       2
C_ID_677639583e       2
C_ID_8541cd1c9d       2
C_ID_3b79a1aedb       2
C_ID_97d0d8f4df       2
C_ID_626c797809       2
C_ID_8f86722ad5       2
C_ID_c9fc149cf2       2
C_ID_38fca2b4ba       2
C_ID_beaf15f1de       2
C_ID_92420e9236       2
C_ID_22df161ffe       2
C_ID_cd35c92246       2
C_ID_6fffaf3641       2
C_ID_fb34b994fe       2
C_ID_18cf2da215       2
C_ID_deac674a39       2
Name: card_id, Length: 325540, dtype: int64
 69     4835441
-1      2478624
 19     1151077
 158    1113013
 17      971714
 331     714414
 143     668769
 88      659328
 137     603023
 333     561144
 87      444940
 212     406196
 57      382232
 149     359540
 25      356757
 233     355108
 117     322414
 160     317617
 213     248371
 277     247294
 286     231877
 76      216048
 4       212403
 107     210182
 53      209668
 20      207650
 291     199983
 140     190359
 344     177694
 161     168745
         ...
 32        8382
 81        8278
 54        8201
 235       7918
 326       7912
 293       7804
 327       7499
 112       7461
 84        7367
 237       7285
 227       7233
 254       7143
 71        6781
 204       6745
 306       6128
 221       6096
 130       5657
 122       5458
 205       5385
 215       4791
 89        4760
 178       4430
 263       4003
 207       3905
 315       3845
 319       1645
 92         758
 273        620
 316        149
 185         45
Name: city_id, Length: 308, dtype: int64
N    27028332
Y     2084029
Name: category_1, dtype: int64
 0      15411747
 1      11677522
 2        666416
 3        538207
 4        179525
-1        178159
 6        132634
 10       118827
 5        116090
 12        55064
 8         20474
 7         10906
 9          5772
 11          830
 999         188
Name: installments, dtype: int64
A    15411747
B    11677522
C     1844933
Name: category_3, dtype: int64
705    5554009
307    3057930
278    2254227
80     1929413
367    1608239
879    1430607
560    1110681
683     822021
437     665634
690     459101
839     445622
884     416465
108     317938
842     315091
511     302620
68      300512
506     292335
755     290310
222     290186
561     272565
454     259206
422     249513
195     227402
45      225705
360     225270
309     222541
661     210774
557     190599
87      179321
818     178481
        ...
714         30
587         27
27          25
530         25
464         14
718         12
67          12
145         11
579          9
153          9
59           7
817          6
523          6
226          6
741          6
268          5
18           4
805          3
601          3
37           3
634          3
266          2
603          2
164          2
875          1
311          1
322          1
882          1
86           1
687          1
Name: merchant_category_id, Length: 327, dtype: int64
M_ID_00a6ca8a8a    1115097
M_ID_e5374dabc0     428619
M_ID_9139332ccc     361385
M_ID_50f575c681     183894
M_ID_fc7d7969c3     177040
M_ID_5ba019a379     170935
M_ID_f86439cec0     110341
M_ID_1f4773aa76     106476
M_ID_86be58d7e0      97259
M_ID_98b342c0e3      93394
M_ID_d855771cd9      84377
M_ID_6f274b9340      81072
M_ID_cd2c0b07e9      80179
M_ID_57df19bf28      76750
M_ID_b9dcf28cb9      75487
M_ID_b98db225f5      70384
M_ID_445742726b      68499
M_ID_2637773dd2      66836
M_ID_82a30d9203      65853
M_ID_3111c6df35      52427
M_ID_940fb4498f      51522
M_ID_c03b62d83d      50828
M_ID_820c7b73c8      47404
M_ID_b5b80addf5      45520
M_ID_a9d91682ad      43922
M_ID_7c5e93af2f      42122
M_ID_48257bb851      41150
M_ID_deb43ff012      40878
M_ID_1ac6bbc867      39678
M_ID_8fadd601d2      37900
                    ...
M_ID_b20ecf025a          1
M_ID_b4adcc4eb4          1
M_ID_f9d33f7893          1
M_ID_5217fd300e          1
M_ID_94725b1fb0          1
M_ID_3c44c99986          1
M_ID_e0631a66c8          1
M_ID_fbafa59fef          1
M_ID_0c6808343c          1
M_ID_b75caa9a1f          1
M_ID_c0f7e8b09c          1
M_ID_facaf319c6          1
M_ID_4315fc02ca          1
M_ID_ebec76ffb3          1
M_ID_630cf903e3          1
M_ID_8a0ef4c32f          1
M_ID_c0cc3f7a0c          1
M_ID_314b95c21c          1
M_ID_957116643d          1
M_ID_83c37bb3e3          1
M_ID_98138e17a8          1
M_ID_c063ebdfbc          1
M_ID_a64b2c6c33          1
M_ID_a37f28f922          1
M_ID_e6a2e57cee          1
M_ID_3016db5607          1
M_ID_520ba7d64e          1
M_ID_a80a9a4d7d          1
M_ID_b083489583          1
M_ID_1cb5c5e440          1
Name: merchant_id, Length: 326311, dtype: int64
-2     3857276
-1     3627430
 0     3470946
-3     3095651
-4     2639805
-5     2364790
-6     2050048
-7     1769844
-8     1427846
-9     1234724
-10    1085053
-11    1007878
-12     791973
-13     689097
Name: month_lag, dtype: int64
-0.671775     687283
-0.716855     600414
-0.701828     510925
-0.731881     417335
-0.596643     389066
-0.724368     356583
-0.686802     251586
-0.728876     218951
-0.709342     215933
-0.739395     196983
-0.656749     182084
-0.734887     174842
-0.737892     164423
-0.694315     148144
-0.641722     143909
-0.740897     141926
-0.736389     138907
-0.725871     137764
-0.733384     132061
-0.719860     128564
-0.727373     128056
-0.722865     125428
-0.626696     119750
-0.710844     108140
-0.521510     103256
-0.742400     102133
-0.745405     101966
-0.713849      99811
-0.730379      99580
-0.721363      97675
               ...
 3.411950          1
 11.667726         1
 9.298496          1
 0.706577          1
 2.084012          1
 1.466017          1
 1.845090          1
 3.433348          1
 9.140116          1
 2.825645          1
 1.183413          1
 3.588076          1
 18.692891         1
 1.833355          1
 3.060855          1
 0.884310          1
 3.266523          1
 0.873070          1
 1.606499          1
 4.727852          1
 1.274774          1
 17.418883         1
 1.423537          1
 2.418727          1
 7.235491          1
 23.065906         1
 2.941214          1
 19.409655         1
 9.262252          1
 7.698503          1
Name: purchase_amount, Length: 215014, dtype: int64
2017-11-24 00:00:00    26184
2017-11-25 00:00:00    26182
2017-11-18 00:00:00    24498
2017-11-30 00:00:00    24430
2017-11-17 00:00:00    23260
2017-11-14 00:00:00    21979
2017-11-23 00:00:00    21830
2017-11-29 00:00:00    21137
2017-11-16 00:00:00    20678
2017-11-22 00:00:00    20404
2017-11-28 00:00:00    20122
2017-11-21 00:00:00    19618
2017-11-03 00:00:00    19244
2017-11-27 00:00:00    19052
2017-10-28 00:00:00    18712
2017-11-04 00:00:00    18455
2017-11-01 00:00:00    18278
2017-11-09 00:00:00    18255
2017-11-13 00:00:00    18177
2017-11-08 00:00:00    17740
2017-11-20 00:00:00    17529
2017-11-07 00:00:00    17496
2017-10-27 00:00:00    17295
2017-11-15 00:00:00    16460
2017-10-31 00:00:00    16246
2017-11-26 00:00:00    15677
2017-10-21 00:00:00    15536
2017-11-19 00:00:00    15118
2017-10-26 00:00:00    14967
2017-11-06 00:00:00    14921
                       ...
2017-07-30 17:34:32        1
2017-09-29 00:21:43        1
2017-05-30 18:59:27        1
2017-10-19 23:38:45        1
2017-02-28 15:09:58        1
2017-11-04 18:34:29        1
2017-06-09 13:36:03        1
2017-09-25 21:53:04        1
2017-12-31 15:20:24        1
2017-08-15 13:01:22        1
2017-01-21 18:48:45        1
2018-01-21 22:31:17        1
2017-05-27 17:07:30        1
2017-05-05 11:46:55        1
2017-01-18 14:53:25        1
2017-08-27 06:35:53        1
2017-02-27 17:38:41        1
2017-06-08 16:27:12        1
2017-10-26 18:15:37        1
2017-11-17 02:09:24        1
2017-11-15 03:13:54        1
2017-01-22 18:50:29        1
2017-11-13 18:22:30        1
2017-02-16 19:49:53        1
2017-04-20 10:41:20        1
2017-11-17 23:52:25        1
2017-05-31 09:55:49        1
2018-02-18 10:39:16        1
2017-10-26 13:38:55        1
2018-01-14 20:39:49        1
Name: purchase_date, Length: 16395300, dtype: int64

1.0    15177199
3.0     3911795
5.0     3725915
4.0     2618053
2.0     1026535
Name: category_2, dtype: int64
 9     10568881
-1      2652864
 16     2143420
 15     2079255
 5      1655124
 19     1204287
 20     1141197
 22      971714
 21      929594
 4       840820
 7       640712
 13      634006
 11      631127
 3       542220
 12      385643
 18      384876
 2       371728
 1       247753
 10      222463
 23      206011
 24      205952
 14      171513
 8       157829
 17      116139
 6         7233
Name: state_id, dtype: int64
 33    5594146
 37    4531755
 19    3147440
 29    2813095
 34    2759431
 27    1658301
 16    1651384
 21     837612
 7      711977
 1      695263
 15     665634
 8      541510
 18     395679
 36     331696
 20     299301
 30     292335
 39     259206
 25     259053
 41     196118
 12     192067
 22     179252
 31     142945
 17     132915
 32     129516
 2      110596
 38      89005
 3       87853
 10      81954
 9       77760
 4       59102
 35      39269
 26      25140
 13      23388
 5       23171
 14      21825
 23      19724
 24      18134
 40      13424
-1        2252
 11       2009
 28        124
Name: subsector_id, dtype: int64

In [20]:
historical_transactions.isna().sum()

authorized_flag               0
card_id                       0
city_id                       0
category_1                    0
installments                  0
category_3               178159
merchant_category_id          0
merchant_id              138481
month_lag                     0
purchase_amount               0
purchase_date                 0
category_2              2652864
state_id                      0
subsector_id                  0
dtype: int64